@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  color: #fff;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  font-size: 16px;
}

.wrapper {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(26, 14, 1, 1) 100%
  );

}

a {
  text-decoration: none; /* Только сбрасываем текстовые украшения */
  color: inherit;
}

img {
  max-width: 100%;
}

.logo {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  z-index: 2;
  position: relative;
}

header > nav > ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

header nav ul li:not(.active):not(.btn) a {
  position: relative; /* Позиционирование для нижней границы */
}

header nav ul li:not(.active):not(.btn) a:hover::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Расположение под текстом */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #dc7000;
  border-radius: 10px;
}

.btn {
  background: #dc7000;
  border: none; /* Убираем лишнюю границу */
  padding: 9px 17px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer; /* Добавляем указатель */
  transition: all 500ms ease;
}

.btn:hover {
  background: #a02604;
}

.active::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #dc7000;
  border-radius: 10px;
  position: relative;
}

.heroConteiner {
  margin-top: 50px;
  padding: 0 20px;
  z-index: 1;
}

.hero__info {
  width: 530px;
  padding-top: 70px;
  margin-top: 30px;
}

.hero__info > h2 {
  color: #e87d0e;
  font-size: 20px;
  font-weight: 600;
}

.hero__info > h1 {
  font-size: 50px;
  font-weight: 600;
}

.hero__info > p {
  font-weight: 500;
  line-height: 170%;
  margin: 30px 0;
}

.hero__info > .btn{
    background: #fa8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
}

.hero__info > .btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.heroConteiner> img{
    position: absolute;
    top: 0px;
    right: 0;
}

.conteinerTrending{
    padding-top: 150px;
}

.conteinerInfo> h3{
    font-weight: 600;
    font-size: 31px;
} 

.conteinerInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteinerInfo > .see_all{
    color: #fff;
    background: #25211d;
    border-radius: 5px;
    padding: 12px 23px;
    transition: all 500ms ease;
}

.conteinerInfo > .see_all:hover{
    transform: scale(1.2);
}

.conteinerTrending > .Game{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
}
span{
    display: block;
    text-align: center;
    margin-top: 20px;
}

span> img{
    position: relative;
    top: -5px;
    left: -5px;
}

.conteinerTextInfo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; /* Центрирование по вертикали */
  padding: 50px 0;
  font-size: 35px;
  font-weight: 600;
  width: 800px;
  margin: auto; /* Центрирование блока по горизонтали */
}



.conteinerBanner{
  padding: 80px 20px;
}

.conteinerBanner> h3{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.conteinerBanner> p{
  line-height: 170%;
  margin-bottom: 30px;
  width: 550px;
}

.conteinerBanner> img{
width: 100%;
margin-bottom: 30px;
}